body{
  font-family: 'Roboto', sans-serif;
}
.ul{
  list-style: none;
}
.a{
  text-decoration: none;
}
.li{
  display: inline-block;
}
.nav{
  line-height: 60px;
}
.nav img{
  width: 11em;
  vertical-align: middle;
  padding-left: 15px;
}
.nav li{
  padding-right: 15px;
}
.nav li span{
  padding-left: 3px;
  font-size: 0.8em;
  vertical-align: middle;
}
.nav ul li:last-child{
  padding-right: 0;
  white-space: nowrap;
}
.nav li a{
  color: #031C4E;
  font-size: 1em;
  font-weight: bold;
}
.nav li a:hover{
  text-decoration: none;
  color: #007DFF;
}
.nav li #button{
  background-color: white;
  padding: 10px;
  color: #0069FF;
  border: 1px solid #0069FF;
  border-radius: 5px;
}
.nav li #button:hover{
  background-color: #0069FF;
  color: white;
}
.nav .burger i{
  color: #0069FF;
  font-size: 1.25em;
}
.header-bottom{
  background-image: url(../img/bg-home-1-d54581d7.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header-bottom .title{
  color: white;
  margin-top: 80px;
  margin-bottom: 80px;
}
.header-bottom .title h1{
  font-size: 3em;
  font-weight: 600;
}
.header-bottom .title p{
  font-size: 1.5em;
  color: #CCDBFF;
}
.sign-in{
  background-color: white;
  border-radius: 5px;
  margin: 30px 0;
}
.box-sign-in h2{
  color: #031C4E;
  font-weight: 600;
}
.box-sign-in h3{
  color: #006AFF;
  font-weight: 600;
  font-size: 2em;
}
.box-sign-in form input{
  display: block;
  width: 80%;
  margin: 15px auto;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  padding: 10px 5px;
}
.box-sign-in .account,
.box-sign-in .google{
  width: 80%;
  margin: 15px auto;
  padding: 5px 0;
  font-weight: 600;
}
.box-sign-in .account{
  background-color: #579AFF;
  border-radius: 4px;
}
.box-sign-in .account a{
  color: white;
}
.box-sign-in .account:hover,
.box-sign-in .account a:hover{
  text-decoration: none;
  background-color: #1633FF;
}
.box-sign-in .google:hover,
.box-sign-in .google a:hover{
  text-decoration: none;
  background-color: #F2F8FF;
}
.box-sign-in .google{
  position: relative;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(166, 166, 166,0.5);
}
.box-sign-in .google a{
  color: rgb(83, 83, 83);
}
.box-sign-in .google span i{
  position: absolute;
  left:5px;
  top: 50%;
  transform: translateY(-50%);
  color: #579AFF;
}
.box-sign-in p{
  font-size: 1.05em;
}
.main-1{
  background-color: #F3F5F9;
}
.partner .col-xs-6{
  text-align: center;
  line-height: 50px;
  height: 110px;
  line-height: 110px;
}
.partner img{
  width: 80%;
  vertical-align: middle;
}
.partner p{
  color: #6F7B97;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.partner a{
  display: inline-block;
  color: #006AFF;
  font-weight: 600;
  padding: 20px 0;
}
.partner a:hover{
  text-decoration: none;
  color: #006AFF;
}
.deploy h1{
  font-weight: 600;
  color: #031B4E;
  padding-top: 60px;
}
.deploy .text-center p{
  font-weight: 600;
  font-size: 1.2em;
  color: #4E5F95;
  padding: 40px 0;
}
.deploy ul{
  padding-left: 0;
}
.deploy li{
  color: #818DA6;
  border-left: 1px solid grey;
  font-weight: 600;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.deploy li:hover{
  color: #031B4E;
}
.deploy h4{
  color: #031B4E;
  font-weight: 600;
}
.deploy .bottom-icon,
.deploy .list,
.deploy .top-icon{
  margin-top: 40px;
}
.deploy .top-icon p,
.deploy .bottom-icon p{
  font-weight: 600;
  color: #625F95;
}
.main-3{
  background-color: #F3F5F9;
  margin-top: 50px;
}
.main-3 h1{
  font-weight: 600;
  color: #031B4E;
  margin-top: 60px;
}
.main-3 .padding{
  font-weight: 600;
  color: #625F95;
  padding: 30px 0;
}
.main-3 .bot{
  font-weight: 600;
  color: #625F95;
  padding: 15px 0;
}
.main-3 img{
  width: 85%;
}
.main-3 span{
  color: #031B4E;
  font-size: 2em;
  cursor: pointer;
}
.main-3 span:hover{
  color: #0069FF;
}
.main-3 .circle i{
  color: #006AFF;
  font-size: 0.8em;
  padding-bottom: 60px;
}
.main-4 h1,
.main-4 h3{
  font-weight: 600;
  color: #031B4E;
}
.main-4 h1{
  padding: 40px 0;
}
.main-4 p{
  font-weight: 600;
  color: #625F95;
}
.main-4 p a{
  padding-bottom: 80px;
  color: #1C7BFF;
}
.main-4 span {
  padding-left: 5px;
  font-size: 0.8em;
}
.main-5{
  background-image: linear-gradient(to top, #00229D, #0048C5);
  margin-top: 80px;
}
.main-5 h2{
  color: white;
  font-weight: 600;
  padding-top: 80px;
  margin-bottom: 50px;
}
.main-5 ul{
  padding-left: 0;
  padding-bottom: 50px;
}
.main-5 li{
  border-bottom: 1px solid white;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.main-5 li > span{
  padding-left: 60px;
  color: #6C96B8;
}
.main-5 li h5{
  display: inline;
  padding-left: 10px;
  color: white;
  font-weight: 600;
}
.main-5 li a{
  position: absolute;
  right: 0;
  color: #05D7D2;
}
.main-5 li a:hover{
  text-decoration: none;
  color: #005FE6;
}
.main-5 li a span{
  font-size: 0.8em;
  padding-left: 4px;
}
.main-6{
  background-color: #F3F5F9;
}
.main-6 h2{
  font-weight: 600;
  color: #031C4E;
  padding: 50px;
}
.main-6 .col-xs-8 > span{
  color: #031B4E;
  font-size: 2em;
  cursor: pointer;
}
.main-6 .col-xs-8 > span:hover{
  color: #0069FF;
}
.main-6 .box-inside{
  display: inline-block;
  background-color: white;
  width: 85%;
  vertical-align: middle;
  height: 100%;
}
.main-6 .box-inside img{
  width: 40%;
  padding-top: 80px;
  padding-bottom: 15px;
}
.main-6 .box-inside h4{
  padding: 20px;
  color: #5C6A88;
}
.main-6 .box-inside .bold{
  color: #031C4E;
  font-weight: 600;
}
.main-6 .box-inside .no-bold{
  padding-bottom: 20px;
  color: #031C4E;
}
.main-6 .box-inside a{
  display: inline-block;
  padding-bottom: 60px;
  color: #1978FF;
  text-decoration: none;
}
.main-6 .box-inside a span{
  padding-left: 10px;
}
.main-6 .circle{
  padding-top: 50px;
  padding-bottom: 50px;
  color: #006AFF;
  font-size: 0.8em;
}
.main-7{
  background-image: url(../img/bg-home-1-d54581d7.png);
}
.main-7 h2{
  color: white;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 10px;
}
.main-7 a{
  display: inline-block;
  color: #3386FF;
  font-weight: 600;
  background-color: white;
  border-radius: 3px;
  padding: 10px 15px;
  margin-bottom: 50px;
}
.main-7 a:hover{
  text-decoration: none;
  background-color: #CDDBFE;
}
.footer{
  background-color: #031C4E;
}
.footer img{
  display: block;
  width: 10%;
  padding-top: 30px;
}
.footer span{
  display: block;
}
.footer .bold{
  padding-top: 10px;
  color: #8B94A9;
}
.footer .no-bold{
  color: #556483;
}
.footer i{
  font-size: 1.2em;
  color: #8B94A9;
  padding-top: 20px;
  padding-right: 10px;
}
.footer a:last-child i{
  padding-right: 0;
}
.footer i:hover{
  color: #0147FE;
}
.foooter .col-xs-12{

}
.footer ul{
  padding-top: 30px;
  padding-left: 0;
  margin-bottom: 50px;
}
.footer ul li:not(.title){
  margin-bottom: 5px;
}
.footer ul li:last-child{
  margin-bottom: 0;
}
.footer .title{
  color: white;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.1em;
}
.footer ul li a{
  text-decoration: none;
  color: #A5ADBC;
}
.footer ul li a:hover{
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .partner img{
    width: 50%;
  }
  .footer ul{
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px){
  .partner img{
    width: 40%;
  }
  .footer ul{
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .footer ul{
    margin-bottom: 10px;
  }
}
