body{
  font-family: 'Roboto', sans-serif;
}
.ul{
  list-style: none;
}
.a{
  text-decoration: none;
}
.li{
  display: inline-block;
}
.nav{
  line-height: 60px;
}
.nav img{
  width: 11em;
  vertical-align: middle;
}
.nav li{
  padding-right: 15px;
}
.nav li span{
  padding-left: 3px;
  vertical-align: middle;
}
.nav ul li:last-child{
  padding-right: 0;
  white-space: nowrap;
}
.nav li a{
  color: #031C4E;
  font-size: 1em;
  font-weight: bold;
}
.nav li a:hover{
  text-decoration: none;
  color: #007DFF;
}
.nav li #button{
  background-color: white;
  padding: 10px;
  color: #0069FF;
  border: 1px solid #0069FF;
  border-radius: 5px;
}
.nav li #button:hover{
  background-color: #0069FF;
  color: white;
}
.nav .burger i{
  color: #0069FF;
  font-size: 1.25em;
}
.header-bottom{
  background-image: url(../img/bg-home-1-d54581d7.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header-bottom .title{
  color: white;
  margin-top: 80px;
  margin-bottom: 80px;
}
.header-bottom .title h1{
  font-size: 3em;
  font-weight: 600;
}
.header-bottom .title p{
  font-size: 1.5em;
  color: #CCDBFF;
}
.sign-in{
  background-color: white;
  border-radius: 5px;
  margin: 30px 0;
}
.box-sign-in h2{
  color: #031C4E;
  font-weight: 600;
}
.box-sign-in h3{
  color: #006AFF;
  font-weight: 600;
  font-size: 2em;
}
.box-sign-in form input{
  display: block;
  width: 80%;
  margin: 15px auto;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  padding: 10px 5px;
}
.box-sign-in .account,
.box-sign-in .google{
  width: 80%;
  margin: 15px auto;
  padding: 5px 0;
  font-weight: 600;
}
.box-sign-in .account{
  background-color: #579AFF;
  border-radius: 4px;
}
.box-sign-in .account a{
  color: white;
}
.box-sign-in .account:hover,
.box-sign-in .account a:hover{
  text-decoration: none;
  background-color: #1633FF;
}
.box-sign-in .google:hover,
.box-sign-in .google a:hover{
  text-decoration: none;
  background-color: #F2F8FF;
}
.box-sign-in .google{
  position: relative;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(166, 166, 166,0.5);
}
.box-sign-in .google a{
  color: rgb(83, 83, 83);
}
.box-sign-in .google span i{
  position: absolute;
  left:5px;
  top: 50%;
  transform: translateY(-50%);
  color: #579AFF;
}
.box-sign-in p{
  font-size: 1.05em;
}
.main-1{
  background-color: #F3F5F9;
}
.partner .col-xs-6{
  text-align: center;
  line-height: 50px;
  height: 110px;
  line-height: 110px;
}
.partner img{
  width: 80%;
  vertical-align: middle;
}
.partner p{
  color: #6F7B97;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.partner a{
  display: inline-block;
  color: #006AFF;
  font-weight: 600;
  padding: 20px 0;
}
.partner a:hover{
  text-decoration: none;
  color: #006AFF;
}
.deploy h1{
  font-weight: 600;
  color: #031B4E;
}
.deploy .text-center p{
  font-weight: 600;
  font-size: 1.2em;
  color: #4E5F95;
}
.deploy li{
  color: #818DA6;
  border-left: 1px solid grey;
  font-weight: 600;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.deploy li:hover{
  color: #031B4E;
}
.deploy h4{
  color: #031B4E;
  font-weight: 600;
}
.deploy .bottom-icon,
.deploy .list,
.deploy .top-icon{
  margin-top: 40px;
}
.deploy .top-icon p,
.deploy .bottom-icon p{
  font-weight: 600;
  color: #625F95;
}
.main-3{
  background-color: #F3F5F9;
  margin-top: 50px;
}
.main-3 h1{
  font-weight: 600;
  color: #031B4E;
  margin-top: 60px;
}
.main-3 .padding{
  font-weight: 600;
  color: #625F95;
  padding: 30px 0;
}
.main-3 .bot{
  font-weight: 600;
  color: #625F95;
  padding: 15px 0;
}
.main-3 img{
  width: 85%;
}
.main-3 span{
  color: #031B4E;
  font-size: 2em;
  cursor: pointer;
}
.main-3 span:hover{
  color: #0069FF;
}
.main-3 .circle i{
  color: #006AFF;
  font-size: 0.8em;
  padding-bottom: 60px;
}
.main-4 h1,
.main-4 h3{
  font-weight: 600;
  color: #031B4E;
}
.main-4 h1{
  padding: 40px 0;
}
.main-4 p{
  font-weight: 600;
  color: #625F95;
}
.main-4 p a{
  padding-bottom: 80px;
}
.main-4 span {
  padding-left: 10px;
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .partner img{
    width: 50%;
  }
}
@media screen and (max-width: 768px){
  .partner img{
    width: 40%;
  }
}
